* {
    box-sizing: border-box;
    margin: 0;
    padding: 5px;
    max-width: 1200px;
}

body {
    margin: 0 auto;
}

/* header & nav container */

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px dashed red;
}

.header-logo {
    text-align: left;
}

.header-logo h1 {
    font-size: 50px;
}

nav a {
    text-align: right;
    text-decoration: none;
    font-size: 25px;
    color: green;
}

/* about container */

main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
}

.container {  
    padding: 35px;
    margin-left: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "about-text about-image"
      ". .";
}
  
.about-text { 
    grid-area: about-text; 
}

.about-text h1 {
    font-size: 40px;
}

.about-text h3 {
    font-size: 25px;
}

.about-text p {
    font-size: 20px;
}
  
.about-image { 
    grid-area: about-image; 
}

.about-image img {
    max-width: 350px;
    border-radius: 70%;
    border: 3px solid white;
}

button {
    height: 70px;
    width: 230px;
    border-radius: 20px;
    border: 3px solid white;
    background-color: lightseagreen;
    color: white;
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
}

/* section - carousel */

.carousel-slides-container {
    position: relative;
    overflow: hidden;
}

.carousel {
   display: flex;
   overflow-x: auto;
   scroll-snap-type: x mandatory;
   -webkit-overflow-scrolling: touch;
   background-color: #FFEE93;
   height: 780px;
}

.carousel-item {
    flex: 0 0 auto;
    width: 100%;
    scroll-snap-align: start;
    margin-top: 15px;
}

.carousel-item h1 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.carousel-item p {
    font-size: 20px;
    text-align: center;
}

.carousel-item img {
    width: 600px;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-top: 15px;
}